<section class="card">
  <a href="/exercise/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p> Difficulty: {{difficulty}}</p>
    </div>
  </a>
</section>

{{!-- This is for the static pictures on page 2 --}}