<!-- If the user is logged in, render the painting content -->
{{#if loggedIn}}
<section class="painting">
  <img src="/gif/{{painting.motion_file}}" alt="{{painting.description}}">
  <div class="painting-details">
    <h3>{{painting.title}}</h3>
    <p>Difficulty: {{painting.difficulty}}</p>
   
  </div>
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to view Exercise Index</a>
{{/if}}